# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs & cache
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
.cache/
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.mo
*.pot

# Editor & IDE settings
.vscode/
.idea/
*.swp

# Byte-compiled /

# Jupyter
.ipymb_checkpoints